<ion-header>
    <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button
                [text]="buttonText"
                [icon]="buttonIcon">
            </ion-back-button>
          </ion-buttons>
          <ion-title>
            <div align="center"> 
            ผู้รับผลประโยชน์ของฉัน
          </div>
          </ion-title>
      
    </ion-toolbar>
  </ion-header>
  <!-- *ngFor = "let item of items" -->
  <ion-content padding *ngIf="mainshow"> 
    <ion-card  class="maintext">
          
  <i class="fas fa-child fa-2x"></i>
  {{items.gain_name}} 
  {{items.related_na}}
  <br>
    </ion-card>
  
  
  
  
  
  </ion-content>
  <ion-content *ngIf="loadshow">
      <ion-spinner name="dots" color="primary"></ion-spinner>
      <!-- <ion-spinner paused></ion-spinner> -->
  </ion-content>
  