ion-spinner{
    margin: auto;
    margin-top: 50%;
    width:100% !important;
    height: 40px !important;
    align-items: center;
    // width:50/%;
    
}
.maintext{
    color: #222222;
    // font-weight:bold;
    font-size: 3vmax;
    // border-bottom: #555555 solid 1px;
    font-family: 'Kanit', sans-serif;
    margin:5%;

}
ion-title{
  color: #222222;
  // font-weight:bold;
  font-size: 3vmax;
  // border-bottom: #555555 solid 1px;
  font-family: 'Kanit', sans-serif;
}
// .maintext{
//     color: #222222;
//     // font-weight:bold;
//     font-size: 1.7vmax;
//     // border-bottom: #555555 solid 1px;
//     font-family: 'Kanit', sans-serif;
//     margin:2%;
  
//   }
  .maintext_cen{
    color: #222222;
    // font-weight:bold;
    font-size: 2vmax;
    // border-bottom: #555555 solid 1px;
    font-family: 'Kanit', sans-serif;
    margin:2%;
  
  }
  .maintext_price{
  color: #222222;
  // font-weight:bold;
  font-size: 3vmax;
  // border-bottom: #555555 solid 1px;
  font-family: 'Kanit', sans-serif;
  margin:2%;
  
  }
  .card_content{
    margin-left:5%;
    background-color:rgb(255, 197, 216);
  }
  