@import "../../../theme/style.scss";
.margin{
    margin-top: 75px;
}
.center{
    width:50%;
    margin: auto;
    font-size: 120%;
    margin-bottom: 3%;
    margin-top:2%;
}
p{
    font-size: 1em;
}
.screen{
    max-width: 420px;
    min-width: 330px;
    margin: auto; 
    // position:absolute;
    bottom:6px;
    width: calc(200%-100px);
    background-color: #f1eeee;

}
ion-button{
    height: 12vmax;
    // background-color: none; 
    // background-image: linear-gradient(to right, rgb(49, 231, 255) ,rgb(72, 132, 172)); 
    border-radius:1.2em;
}
ion-button{
    height: 12vmax;
    background-color: none; 
}
.position{
    position:static;
    bottom: 0;
    text-align: center;
}
.maintext_coop{
    color: #222222;
    // font-weight:bold;
    font-size: 5vmax;
    // border-bottom: #555555 solid 1px;
    font-family: 'Kanit', sans-serif;
    margin:2%;

}




