@import "../../../theme/style.scss";
.margin{
    margin-top: 75px;
}
.center{
    width:50%;
    margin: auto;
    font-size: 120%;
    margin-bottom: 10%;
    margin-top:2%;
}
p{
    font-size: 2vmax;
}
ion-button{
    height: 12vmax;
    background-color: none; 
}
.position{
    position:static;
    bottom: 0;
    text-align: center;
}
.maintext_coop{
    color: #222222;
    // font-weight:bold;
    font-size: 5vmax;
    // border-bottom: #555555 solid 1px;
    font-family: 'Kanit', sans-serif;
    margin:2%;

}




