<!-- <ion-header>
  <ion-toolbar>
    <ion-title>stopped</ion-title>
  </ion-toolbar>
</ion-header> -->
<link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<ion-content color="medium">
  <div class="screen">
    <div align="center">
  <img src="../../../assets/Wireless-icon.svg.png" width="150">
</div>
  <div class="maintext_cen" style="text-align: center;">
  กรุณาเชื่อมต่อ Internet หรือ wifi
</div>
<!-- <ion-button expanded="block" (click)="Refresh()"><i class="fas fa-redo-alt fa-2x"></i></ion-button> -->

<ion-button expand="block" (click)="Refresh()" class="button" style="padding-top:-10%;" color="light">
  <div>
  <div align="center">
    <i class="fas fa-redo-alt fa-2x"></i>
  </div>
  <p align ="center">
    ลองอีกครั้ง
  </p>
    </div>
  </ion-button>

  
</div>


</ion-content>
