<!-- <ion-header>
  <ion-toolbar>
    <ion-title>stopped</ion-title>
  </ion-toolbar>
</ion-header> -->
<link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<ion-content color="medium">
  <div class="screen">
  <img src="../../../assets/Wireless-icon.svg.png" width="150">
  <div class="maintext">
  กรุณาเชื่อมต่อ Internet หรือ wifi
</div>
</div>


</ion-content>
