ion-icon{
    // width: 15%;
    // height: 15%;
    font-family: 'Kanit', sans-serif;
}
.card{
    // width:90%;
    background: url('../../../assets/preview-82967-gZ6ArOJAiM-low_0011.jpg');
    background-color: rgba(0, 0, 0, 0.6);
    height:40% ;
    font-family: 'Kanit', sans-serif;
    font-size:4vmax;
    margin:5%;
    -webkit-box-shadow: -1px 4px 11px 0px rgba(186,173,176,1);
    -moz-box-shadow: -1px 4px 11px 0px rgba(186,173,176,1);
    box-shadow: -1px 4px 11px 0px rgba(186,173,176,1);

}
.gotoboard{
    position: relative;
    // float:right;
}
ion-refresher-content{
    font-family:'Kanit', sans-serif;
    font-size: 0.5vmax;
    color:#555555;
  }
label{
    color:white;
    font-size:5vmax;
    font-family: 'Kanit', sans-serif;
}
ion-title{
    color: #222222;
    // font-weight:bold;
    font-size: 3vmax;
    // border-bottom: #555555 solid 1px;
    font-family: 'Kanit', sans-serif;
}
.button{
  
    color: black;
    margin:10%;
    font-size:2vmax;
    font-family: 'Kanit', sans-serif;
    border-radius: 10%;
}
.maintext{
    color: #222222;
    // font-weight:bold;
    font-size: 2vmax;
    // border-bottom: #555555 solid 1px;
    font-family: 'Kanit', sans-serif;
    margin:5%;

}
.slidecard{
    margin:5%;
}
img{
    width: 100%;
    height: 162px;
}