.maintext{
  color: #222222;
  // font-weight:bold;
  font-size: 2vmax;
  // border-bottom: #555555 solid 1px;
  font-family: 'Kanit', sans-serif;
  margin:5%;

}
ion-title{
  color: #222222;
  // font-weight:bold;
  font-size: 3vmax;
  // border-bottom: #555555 solid 1px;
  font-family: 'Kanit', sans-serif;
}
.headertext{
color: #222222;
// font-weight:bold;
font-size: 2vmax;
font-weight: bold;
// border-bottom: #555555 solid 1px;
font-family: 'Kanit', sans-serif;
margin:5%;
margin-left: 0%;

}
.custom-skeleton ion-skeleton-text {
  line-height: 13px;
}

.custom-skeleton ion-skeleton-text:last-child {
  margin-bottom: 5px;
}
ion-spinner{
  margin: auto;
  margin-top: 50%;
  width:100% !important;
  height: 40px !important;
  align-items: center;
  // width:50/%;
  
}
ion-card{
margin:5%;
}


