
:root{

    -webkit-box-shadow: -1px 4px 11px 0px rgba(186,173,176,1);
    -moz-box-shadow: -1px 4px 11px 0px rgba(186,173,176,1);
    box-shadow: -1px 4px 11px 0px rgba(186,173,176,1);

}
.logo{
    // margin-left:50%;
    width:35%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:5%; 
}
ion-content{
    font-family: 'Kanit', sans-serif;
    font-size:5vw; 
}
ion-label{

    font-family: 'Kanit', sans-serif;
    font-size:155vw;
    
}
.screen{
    max-width: 400px;
    min-width: 325px;
    margin: auto;

}
ion-input{
min-width:700px;
}
.images{
    // background-color: rgba(0,0, 0,0.5);
    opacity: 40%;
}
.margin{
    margin:5%;
}
.inside{
    background-image: linear-gradient(to right, red , yellow);
     border-radius:0.2em;
    position:absolute;
  /*   border:solid 1px #555555; */
    top:20%;
    left:36%;
    width:300px;
    height:80px;
    margin:auto;
    font-family: 'Kanit', sans-serif;
    font-size:2vmax;
   
  }
  .box{
    border-radius:0.2em;
    border:solid 1px rgba(186,173,176,1);
    margin:auto; 
    padding: 3%;
    padding-top: 15%;
    // z-index:-1;
    // margin-top: 10%;
    -webkit-box-shadow: -1px 4px 11px 0px rgba(186,173,176,1);
    -moz-box-shadow: -1px 4px 11px 0px rgba(186,173,176,1);
    box-shadow: -1px 4px 11px 0px rgba(186,173,176,1);
   
  }

  @media screen and (min-width: 350px) {
    .inside{
        top:25%;
        left:9%;

        background-image: linear-gradient(to right, rgb(49, 231, 255) ,rgb(72, 132, 172));
         border-radius:0.2em;
        position:absolute;
        width:300px;
        height:80px;
        margin:auto;
        font-family: 'Kanit', sans-serif;
        font-size:5vmax;
        padding-top: 3%;
        color:white;
        font-weight:bold;
   
        -webkit-box-shadow: -1px 4px 11px 0px rgba(186,173,176,1);
    -moz-box-shadow: -1px 4px 11px 0px rgba(186,173,176,1);
    box-shadow: -1px 4px 11px 0px rgba(186,173,176,1);
       
      }
  }
  @media screen and (min-width: 400px) {
    .inside{
        top:24%;
        left:14%;
        background-image: linear-gradient(to right, rgb(49, 231, 255) ,rgb(72, 132, 172));
        border-radius:0.2em;
       position:absolute;
       width:300px;
       height:80px;
       margin:auto;
       font-family: 'Kanit', sans-serif;
       font-size:5vmax;
       padding-top: 3%;
       color:white;
       font-weight:bold;
  
       -webkit-box-shadow: -1px 4px 11px 0px rgba(186,173,176,1);
   -moz-box-shadow: -1px 4px 11px 0px rgba(186,173,176,1);
   box-shadow: -1px 4px 11px 0px rgba(186,173,176,1);
      }
  }
  
  @media screen and (min-width: 700px) {
    .inside{
        top:40%;
        left:31%;
        background-image: linear-gradient(to right, rgb(49, 231, 255) ,rgb(72, 132, 172));
        border-radius:0.2em;
       position:absolute;
       width:300px;
       height:80px;
       margin:auto;
       font-family: 'Kanit', sans-serif;
       font-size:3.5vmax;
       padding-top: 1.5%;
       color:white;
       font-weight:bold;
  
       -webkit-box-shadow: -1px 4px 11px 0px rgba(186,173,176,1);
   -moz-box-shadow: -1px 4px 11px 0px rgba(186,173,176,1);
   box-shadow: -1px 4px 11px 0px rgba(186,173,176,1);
      }
  }

  .maintext{
    color: #222222;
    // font-weight:bold;
    font-size: 2vmax;
    // border-bottom: #555555 solid 1px;
    font-family: 'Kanit', sans-serif;
    margin:2%;

}