.numpad{
    border-radius: 50%;
    font-family: 'Kanit', sans-serif;
    font-size: 3vmax;
    width:50%;
    //   margin: auto;
      height: 100%; 
}
.screen{
    max-width: 400px;
    min-width: 325px;
    margin: auto;

}
p{
    color:black;
}