<ion-header>
    <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  <ion-toolbar>
    <ion-title>
        <div align="center">
            ตรวจสอบสมาชิก
        </div>
      </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<div class="margin">
</div>
<br>
<br>
<div class="screen">
<div class="box">
<div class="inside" align="center">
    ยืนยันการสมัคร

</div>

<!-- <ion-item class="form_item" style="border: 0px;"> -->
  <ion-label position="floating">เลขทะเบียน</ion-label>
  <ion-input class="membership_no" size="15" maxlength="7" type='number' class="maintext_cen form" placeholder="เลขทะเบียน"></ion-input>
<!-- </ion-item> -->
<ion-label position="floating">เลขบัตรประชาชน</ion-label>
  <ion-input size="15" maxlength="7" type='number' class="maintext_cen form" placeholder="เลขทะเบียน"></ion-input>

  <ion-label position="floating">ชื่อจริง</ion-label>
  <ion-input size="15" maxlength="7" type='number' class="maintext_cen form" placeholder="เลขทะเบียน"></ion-input>

  <ion-label position="floating">นามสกุล</ion-label>
  <ion-input size="15" maxlength="7" type='number' class="maintext_cen form" placeholder="เลขทะเบียน"></ion-input>



<ion-button class ="margin"expand="block" color="secondary" style = " font-weight: bold; font-size: 15" (click)="login()">ตกลง</ion-button>
</div>
</div>



</ion-content>
