@import "../../../../theme/style.scss";
// @import ""
img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    
}
ion-content{
    background-color: #555555;
}

.button{
    margin:2%;
    // padding: 4%;
    border-radius: 13%;
}

ion-button{
    border-radius: 50%;
    margin:2px;
}
