<ion-header>
    <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
    <ion-toolbar>
      <ion-title>
        <div align="center"> 
        ข้อมูลส่วนตัวของฉัน
      </div>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding color="secondary">
      <!-- <div class ="margin"></div> -->
  <ion-card color="light">
            <!-- <div align = "center" style="padding-bottom:35px; ">-->
              <!-- <div>   -->
                <div class = "toptext" style=" font-size:5vmax; margin:5%;">
                <strong>{{member_name}} {{member_surname}}</strong>
                <img align = "right" src="http://test.cooparmy3.com/coop/images/mem_new.jpg" >
                <div class ="headtext" style=" font-size:2vmax; margin-top: 2%;"> เป็นสมาชิกตั้งแต่  
                <ion-datetime class = "headtext" style="font-size:2vmax;" readonly value={{approve_date}}></ion-datetime>
                <p>{{t}}</p>
                <!-- <ion-datetime display-format="MMM">{{approve_date}}</ion-datetime> -->
                </div>
            </div>

              <!-- <div align = "right"> 
              
          
          </div>  -->
         
  </ion-card>
          <!-- ------------------------------------------------------------------ -->
          <!-- <div style = "margin: 5%;">
               
              <ion-button (click)="coll()" color = "success">
                
                  <i class="fas fa-university fa-lg fa-fw"></i>
                  <label style="font-size: 0.5em;">การค้ำประกัน</label>
              </ion-button>
            
        
    
            <ion-button (click)="gain()" color = "success">
                
                <i class="fas fa-university fa-lg fa-fw"></i>
                <label style="font-size: 0.5em;">ผู้รับผลประโยชน์</label>
            </ion-button>
            
          </div> -->
          <!-- ---------------------------------------------------------- -->
          <div *ngIf="items">
              <!-- <ion-item>
                </ion-item> -->
<ion-card color="light">
          <div class = "headtext">
        <p style="margin:5%;"> เกี่ยวกับ
        </p>
        </div> 
        <div class = "maintext">
        <i class="fas fa-id-badge fa-lg"></i> {{membership_no}}
        
        </div>
        <div class = "maintext">
        <i class="fas fa-id-card fa-lg"></i>  {{id_card}}
     
        </div> 
        <ion-item-divider>
        <div class = "maintext">
        
          <i class="fas  fa-birthday-cake fa-lg"></i> 

        </div>
         <ion-label class = "maintext">
         <ion-datetime  readonly value={{date_of_birth}}></ion-datetime>
        </ion-label> 
      </ion-item-divider>
        <div class = "maintext">
            <i class="fas  fa-map-marker-alt fa-lg"></i> 
            {{address_present}}
          
           </div> 
          </ion-card>
        <!-- <ion-item color="secondary">
      </ion-item> -->
      <ion-card color="light">
        <div class = "headtext">
        <p style="margin:5%;"> การทำงาน
        </p>
        </div> 
        <div class = "maintext">
     <i class="fas  fa-building fa-lg"></i> 
         {{member_group_name}}
        
        </div>      
          <div class = "maintext">
          <i class="fas  fa-code-branch fa-lg"></i> 
           
           {{position_name}}
          </div>  
        </ion-card> 
          <!-- <ion-item color="secondary">
            </ion-item> -->
          </div>
  
            <div *ngIf="!items">
                <ion-avatar slot="start">
                    <ion-skeleton-text animated></ion-skeleton-text>
                  </ion-avatar>
                  <ion-label>
                    <h3>
                      <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </h3>
                    <p>
                      <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </p>
                    <p>
                      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </p>
                  </ion-label> <ion-avatar slot="start">
                      <ion-skeleton-text animated></ion-skeleton-text>
                    </ion-avatar>
                    <ion-label>
                      <h3>
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                      </h3>
                      <p>
                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                      </p>
                      <p>
                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                      </p>
                    </ion-label> <ion-avatar slot="start">
                        <ion-skeleton-text animated></ion-skeleton-text>
                      </ion-avatar>
                      <ion-label>
                        <h3>
                          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                        </h3>
                        <p>
                          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                        </p>
                        <p>
                          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                        </p>
                      </ion-label> <ion-avatar slot="start">
                          <ion-skeleton-text animated></ion-skeleton-text>
                        </ion-avatar>
                        <ion-label>
                          <h3>
                            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                          </h3>
                          <p>
                            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                          </p>
                          <p>
                            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                          </p>
                        </ion-label>
                        <ion-label>
                            <h3>
                              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                            </h3>
                            <p>
                              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                            </p>
                            <p>
                              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                            </p>
                          </ion-label>
                          <ion-label>
                              <h3>
                                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                              </h3>
                              <p>
                                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                              </p>
                              <p>
                                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                              </p>
                            </ion-label>
                            <ion-label>
                                <h3>
                                  <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                                </h3>
                                <p>
                                  <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                                </p>
                                <p>
                                  <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                                </p>
                              </ion-label>
                              <ion-label>
                                  <h3>
                                    <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                                  </h3>
                                  <p>
                                    <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                                  </p>
                                  <p>
                                    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                                  </p>
                                </ion-label>
  
              </div>
              <ion-button expand="full" fill="clear" color="dark" class="button"  (click)="gain()">
                <label class="Font-darkgray">ผู้รับผลประโยชน์ของฉัน</label>
            
            </ion-button>
            <ion-button expand="full" fill="clear" color="dark" class="button"  (click)="coll()">
              <label class="Font-darkgray">การค้ำประกันเงินกู้ของฉัน</label>
          
          </ion-button>
              <ion-button expand="full" fill="clear" color="dark" class="button"  (click)="mem_change()">
                  <label class="Font-darkgray">เปลี่ยนรหัสผ่าน</label>
              
              </ion-button>
            
              <ion-button expand="full" fill="clear" color="dark" class="button"  (click)="logout()">
                  <label class="Font-red">ออกจากระบบ</label>
              
              </ion-button>
            
          
  </ion-content>
  