<!-- <ion-header> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="footer/footer/profile"></ion-back-button>
        </ion-buttons>
        <ion-title>
          <div align="center"> 
          เปลี่ยนรหัส
        </div>
        </ion-title>
  </ion-toolbar>
<!-- </ion-header> -->

<ion-content>
  <ion-card>
  <ion-item>
    <ion-label position="floating" align ="center" class="maintext">Old Passwords</ion-label>
   
    <ion-input align ="center" required class="maintext" type = "password"  [(ngModel)]="old_password"> <span><ion-icon name="person" placeholder = "Username " required></ion-icon></span></ion-input>
   </ion-item>
   <ion-item>
    <ion-label position="floating" align = "center" class="maintext">New Passwords</ion-label>
   
    <ion-input align = "center" class="maintext" required type = "password" [(ngModel)]="new_password" required> <span><ion-icon name="lock"></ion-icon></span></ion-input>
    
   </ion-item>

   <ion-item>
      <ion-label position="floating" align = "center" class="maintext">Confirm Passwords</ion-label>
     
      <ion-input align = "center" class="maintext" required type = "password" [(ngModel)]="confirm_password" required> <span><ion-icon name="lock"></ion-icon></span></ion-input>
      
     </ion-item>
   <br>
   
   <ion-button expand="block" color="danger" style = " font-weight: bold; font-size: 15" (click)="chk()" class="maintext" >Change Passwords</ion-button>
  </ion-card>
</ion-content>
