@import "../../../../theme/style.scss";
  .card_content{
    margin-left:5%;
    background-color:rgb(255, 197, 216);
  }
  ion-title{
    color: #222222;
    // font-weight:bold;
    font-size: 3vmax;
    // border-bottom: #555555 solid 1px;
    font-family: 'Kanit', sans-serif;
  }
  